/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #135492;
  --error: #e7195a;
  --success: #1db531;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}

header .container {
  border-spacing: 5cm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to top, #348df2 0%, #6f8ecd 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header a {
  color: #333;
  text-decoration: none;
}
.dashboardpage{
  background-color: white;
    max-width: 100%;
    padding: 0px;
    margin: 0 auto;
  }

.pages{
background-color: white;
  max-width: 100%;
  padding: 0px;
  margin: 0 auto;
}

.signuppages{
  background-image: '../assets/Rubix.gif';
    max-width: 100%;
    padding: 0px;
    margin: 0 auto;
  }



/* adminpage */
.All-Admins {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: stretch;
  border-radius :31px;
  min-height: 100%;
  max-height: 25%;
  margin: auto;
  width: 70%;
  overflow-y: scroll;
}
.Admin{
  height: max-content;
}

.instrates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  align-items: stretch;
  border-radius :31px;
}



.admin-details {
  display: grid;
  width:40%;
  border-style: double;
  background-image: linear-gradient(to top, #a6607c 0%, #33266e 100%);;
  border-radius: 4px;
  border-width: 2px;
  border-color:  #a6607c;
  margin: 20px auto;
  padding: 40px;
  position: relative;
  align-items: stretch;
  border-radius :31px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  color: #ffffff;
}
.admin-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #fff;
}
.admin-details p {
  margin: 0;
  font-size: 0.9em;
  color: #fff;
}
.admin-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #fff;
}

/* crppage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.crp-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.crp-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.crp-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.crp-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* instpage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.inst-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.inst-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.inst-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.inst-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.course-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}



.course-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.course-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.course-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.griddetails {
  background-image: linear-gradient(to top, #33266e 0%, #a6607c 100%);
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 75%;
  height: fit-content;
  opacity: 0.85;
}

.griddetails h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.griddetails p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.griddetails span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}


/* new workout form */
label {

  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #111111;
  font-family:Arial, Helvetica, sans-serif;
  max-width: 70%;
}

.indterms {
  margin : auto;
  font-size: medium;
  max-width: 70%;
}

.title {

  margin: 0 0 10px 0;
  font-size: 1.6em;
  color: #a6607c;
  font-family:Arial, Helvetica, sans-serif;
}
.terms {
  font-size: 5px;
  font-family: inherit;
  color: rgb(174, 48, 48);
  line-height: 2em;
  font-weight: 400;
  text-decoration:none;
  }

h3 {
  margin: 0 0 10px 0;
  font-size: 1.6em;
  color: #33266e;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2 {
  margin: 0 0 -2px 0;
  margin-left: -1200px;
  font-size: 1.2em;
  color: #111111;
  font-family:'Times New Roman', Times, serif;
}


input {
  display: block;
}
form input {
  padding: 10px;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  width: 60%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background-color: #33266e;
  border: white;
  color: white;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}



button {
  position:relative;
  
  background-color: transparent;
  border: #111111;
  border-style:inset;
  border-color: #111111;
  color: #111111;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 6px;
  cursor: pointer;
}

.back {
  
  top:25px; left:-630px;  
  background-color: transparent;
  border-width: 0px;
  border-style:inset;
  border-color: #a6607c;
  color: #a6607c;
  text-align: center;
  text-size-adjust: 5px;
  text-underline-position: below;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 6px;
  cursor: pointer;
}

.buttoncolor {
  position:relative;
  left:32%;
  right:50%;
  width: 30%;
  background-color: #a6607c;
  border: white;
  border-style:inset;
  border-color: white;
  color: #111111;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 6px;
  cursor: pointer;
}
.buttoncolor:hover{
  background: #c77395;
}

.filterbutton {
  position:relative;
  width: 70%;
  background-color: transparent;
  border: #111111;
  border-width: 2.5px;
  border-style:inset;
  border-color: white;
  color: white;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 6px;
  cursor: pointer;
}
.filterbutton:hover{
  background: #c77395;
}

.buttonlogin {
  background-image: linear-gradient(to top, #a6607c 0%, #33266e 100%);
  color: white;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

.loginpress {
  background-image: linear-gradient(to top, #a6607c 0%, #33266e 100%);
  color: white;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  width: 50%
}
.buttonlogin:hover{
  background: #a6607c;
}

button:hover{
  background: #d9d9d9;
}

.buttonwhite {
  background-image: linear-gradient(to top, #fff 0%, #fff 100%);
  color: #a6607c;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
.buttonwhite:hover{

  background: #d9d9d9;

}

.buttonadmin {
  background-color: #a6607c ;
  color: white;
  font-family: "Poppins";
  cursor: pointer;
  padding:20px;
  border-radius: 15px;
  border-width: 2px;
}
.buttonadmin:hover{
  background-color: #d9d9d9;

}

.profilebutton {
  background-color: transparent;
  color: #111111;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  border-style: inset;
  border-color: #111111;
  border-width: 1px;
  cursor: pointer;
  margin-right: 1500px;
  margin-top: 50px;
}
.profilebutton:hover {
  background-color: #d9d9d9;
  color: #111111;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  border-style: inset;
  border-color: #111111;
  border-width: 1px;
  cursor: pointer;
}

.profilebuttoninst {
  background-color: transparent;
  color: #111111;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  border-style: inset;
  border-color: #111111;
  border-width: 1px;
  cursor: pointer;
  margin-right: 1200px;
  margin-top: 50px;
}
.profilebutton:hover {
  background-color: #d9d9d9;
  color: #111111;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  border-style: inset;
  border-color: #111111;
  border-width: 1px;
  cursor: pointer;
}




.instructorbutton {
  background: #33266e;
  border:rgb(218, 205, 205);
  border-style:inset;
  color: #d9d9d9;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

.instructorbutton:hover{
  background: #5c41d3;
}


.editbiobutton {
  position: relative;
  left :200px;
  bottom: 68px;
  background: transparent;
  border:#9d9d9d;
  border-color: #33266e;
  border-width: 1.5px;
  border-style:groove;
  color: #111111;
  padding: 5px;
  font-family: "Poppins";
  border-radius:0.25cm;
  cursor: pointer;
}

.editemailbutton:hover{
  background: #d9d9d9;

}

.editemailbutton {
  position: relative;
  left :200px;
  bottom: 63px;
  background: transparent;
  border:#9d9d9d;
  border-color: #33266e;
  border-width: 1.5px;
  border-style:groove;
  color: #111111;
  padding: 5px;
  font-family: "Poppins";
  border-radius:0.25cm;
  cursor: pointer;
}
.editbiobutton:hover{
  background: #d9d9d9;

}

.forgotpass {
  margin-top: 20px;
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  color: #348df2;
  font-size: medium;
  text-decoration: underline;
}
.forgotpass:hover {
  margin-top: 20px;
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  color: #e7195a;
  font-size: medium;
  text-decoration: underline;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
div.success {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--success);
  color: var(--success);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}


.mini-bar {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}


/* navbar */
nav {
  display: flex;
  align-items: center;
}


nav a {
  margin-left: 10px;
}
/* auth forms */
form.signup, form.login {
  border-color: #a6607c;
  border-style:outset;
  position: relative;
width: 20%;
height: 80%;
  margin: 40px auto;
  padding: 70px;
  background: white;
  border-radius: 4px;
  opacity:0.96;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

.hnav {
  margin: 0;
  font-size: 0.3em;
  color: rgb(218, 205, 205);
  align-items: center;
}

.modalx {
  font-size: 12px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  width: 80% !important;
  height: 300px;
  padding: 10% !important;
  border-radius: 10px;

}
.header {
  width: 98%;
  border-bottom: 5px solid rgb(13, 54, 92);
  border-top: 5px solid rgb(13, 54, 92);
  font-size: 18px solid ;
  color: #135492;
  text-align: center;
  padding: 5px;
}
.headerC {
  width: 98%;
  border-bottom: 5px solid rgb(13, 54, 92);
  font-size: 18px solid ;
  color: #135492;
  text-align: center;
  padding: 5px;
}




.btn {
  margin-top: 20px;
  padding: 10px 30px;
  cursor: pointer;
  
}
.btn:disabled {
  margin-top: 20px;
  padding: 10px 30px;
  cursor: default;
  background-color: #33266e;
  
}



.terms {
  font-size: 5px;
  font-family: inherit;
  color: rgb(174, 48, 48);
  line-height: 2em;
  font-weight: 400;
  text-decoration:none;
  }

  .reports {
    background : transparent;
    border-bottom: 3px solid #a6607c;
    width: 90%;
    color: #111111;
    border-radius: 4px;
    margin: 5px auto;
    padding: 5px;
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
    cursor:default;
    opacity:0.99;
  }
  .reports-header {
   padding: 10px;
   background: transparent;
   border: 1px solid #33266e ;
   color: solid #33266e;
   border-radius: 4px;
   margin: 20px 0;
  }

  h5 {
    padding: 10px;
    background: transparent;
    border: 1px solid #33266e ;
    color: solid #33266e;
    border-radius: 4px;
    margin: 20px 0;
   }
  
   .adminform {
    background-image: linear-gradient(to top, #d9d9d9 0%, #fff 100%);
    border: #9d9d9d;
    border-bottom: 5px solid #33266e ;
    width: 40%;
    color: #fff;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:737px;
    margin-top: -737px;
    padding: 5px;
    justify-content: center;
  
    opacity:0.95
  }

  .crpform {
    background-image: linear-gradient(to top, #d9d9d9 0%, #fff 100%);
    border: #9d9d9d;
    border-bottom: 5px solid #33266e ;
    width: 40%;
    color: #fff;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:737px;
    margin-top: -1861px;
    padding: 5px;
    justify-content: center;
  
    opacity:0.95
  }

  .instform {
    background-image: linear-gradient(to top, #d9d9d9 0%, #fff 100%);
    border: #9d9d9d;
    border-bottom: 5px solid #33266e ;
    width: 40%;
    color: #fff;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:737px;
    margin-top: -737px;
    padding: 5px;
    justify-content: center;
  
    opacity:0.95
  }

  .profile {
    background-image: linear-gradient(to top, #d9d9d9 0%, #fff 100%);
    border: #9d9d9d;
    border-bottom: 5px solid #33266e ;
    width: 40%;
    color: #fff;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px auto;
    padding: 5px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    opacity:0.95
  }


  .filter {
    background-image: linear-gradient(to top, #d9d9d9 0%, #fff 100%);
    border: #9d9d9d;
    border-bottom: 3px solid #a6607c ;
    width: 40%;
    color: #fff;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px auto;
    padding: 5px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    opacity:0.95
  }

  .filtercolour {
    background-image: linear-gradient(to top, #33266e 0%, #a6607c 100%);
    border: #9d9d9d;
    margin-top: 30%;
    border-bottom: 5px solid rgb(13, 54, 92);
    width: 50%;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 4px;
    margin: 5px auto;
    padding: 5px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }


  .instructorbuttons {
    background: transparent;
    position: relative;
    left : 0px;
    border: #9d9d9d;
    border-bottom: 1px solid rgb(13, 54, 92);
    width: 40%;
    color: #fff;
    border-radius: 4px;
    margin: 5px auto;
    padding: 5px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  .bio {
    position: relative;
     top: 20px;
    background: #1c4c64;
    background-color: white;
    opacity:0.95;
    border: #9d9d9d;
    border-bottom: 2px solid #a6607c;
    width: 35%;
    height: fit-content;
    color: #fff;
    border-style: double;
    border-radius: 14px;
    margin: 5px auto;
    padding: 5px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: auto;
    font-size: 1em;
  }

  

  .biobody {

    position: relative;
    right:0px; 
    background: transparent;
    border: #9d9d9d;
    border-bottom: 2px solid #a6607c;
    width: 70%;
    height: fit-content;
    color: #33266e;
    border-radius: 4px;
    margin: 5px auto;
    padding: 5px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor:auto;
    font-size: 1em;
  }



  .filter h4 {
    font-size: 1.2em;
    color: rgb(16, 58, 148);
    justify-content: center;
  }

  .input {
    font-size: 1.2em;
    color: rgb(60, 65, 82);
    justify-content: center;
  }

  h1 {
    color: #33266e;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    font-size: 1.4em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.welcome {
  background: transparent;
  position: relative;
  right : 360px;
  top:156px;
font-family: 'Times New Roman', Times, serif;
font-size:40px;
  width: 40%;
  color: #d9d9d9;

  margin: 5px auto;
  padding: 5px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}